<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Как с вами связаться?</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
</head>
<body>
  <div class="flex-wrap">
    <header class="header">
      <a href="#" class="logo">
        <img src="{% static 'img/logo.svg' %}" width="57" alt="">
      </a>

      <div class="title  title-content">Как с вами связаться?</div>
    </header>

    <div class="content">
      <div class="content-wrap">
        <div id="email" class="tooltip">
          <div class="tooltip-message">
            При отправим вам детали по заказу на ваш электронный ящик
          </div>
          <div class="tooltip-close"></div>
        </div>

        <div id="name" class="tooltip">
          <div class="tooltip-message">
            Напишите свое имя, чтобы мы знали, как к вам обращаться
          </div>
          <div class="tooltip-close"></div>
        </div>

        <div id="tel" class="tooltip">
          <div class="tooltip-message">
            Оставьте свой телефон, чтобы мы могли связаться с вами для уточнения деталей заказа
          </div>
          <div class="tooltip-close"></div>
        </div>

      <form method="POST">
        {% csrf_token %}
        <div class="input-wrap">
            {{ form.email }}
          <div class="tooltip-char-wrap">
            <div class="tooltip-char" data-popup="email">?</div>
          </div>
        </div>

        <div class="input-wrap">
            {{ form.name }}
          <div class="tooltip-char-wrap">
            <div class="tooltip-char" data-popup="name">?</div>
          </div>
        </div>

        <div class="input-wrap">
            {{ form.phone }}
          <div class="tooltip-char-wrap">
            <div class="tooltip-char" data-popup="tel">?</div>
          </div>
        </div>

        <div class="input-wrap">
            {{ form.comments }}
        </div>

        <div class="input-wrap">
          <button class="btn" type="submit">Оформить заказ</button>
        </div>

       <!-- <div class="input-wrap">
          <a href="#" class="btn  btn-bare" >У меня уже есть аккаунт</a>
        </div>-->
      </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/viewport-units-buggyfill.js' %}"></script>
  <script>window.viewportUnitsBuggyfill.init();</script>
  <script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>
