<!DOCTYPE html>
{% load staticfiles %}
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Оформление заказа</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="{% static 'css/main.min.css' %}">
</head>

<body>
  <div class="flex-wrap">
    <header class="header">
      <a href="#" class="logo">
        <img src="{% static 'img/logo.svg' %}" width="57" alt="">
      </a>

      <div class="title  title-content">Оформление заказа</div>
    </header>

    <div class="content">
      <div class="content-wrap">

        <div class="product">
          <div class="product-meta">
            Продавец: <a href="#">{{product.seller}}</a>
          </div>
          <div class="product-content">
            <div class="product-image">
              <img src="{{product.image.url}}" alt="{{product}}" style="max-width:112px; width:100%" alt="">
            </div>
            <div class="product-desc">
              <div class="product-title">{{product}}</div>
              <div class="product-text">{{product.description}}</div>
              <div class="product-additional">
                Размер: <span>XXL</span>
              </div>
            </div>
          </div>

          <div class="product-price">
            <div class="product-price-left">Стоимость:</div>
            <div class="product-price-right">{{product.price}} руб.</div>
          </div>

        </div>
    <form method="POST">
        {% csrf_token %}
        <div class="input-wrap">
            {{ form.product_comments }}
        </div>

        <div class="input-wrap">
          <button type="submit"  class="btn">Далее</button>
        </div>
    </form>
      </div>
    </div>
  </div>

  <script src="{% static 'js/viewport-units-buggyfill.js' %}"></script>
  <script>window.viewportUnitsBuggyfill.init();</script>
  <script src="{% static 'js/scripts.min.js' %}"></script>
</body>
</html>
