<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" >
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Seller Space</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
         integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
      <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'css/bootstrap-imageupload.css' %}">
      <link rel="stylesheet" href="{% static 'css/seller_space.css' %}">
      <meta name="description" content="">
      <meta name="viewport" content="width=900px">
   </head>
   <body>
      <div class="body-inner">
         <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
               <div class="container-fluid">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target=".navbar-collapse">
                     <span class="sr-only">Toggle navigation</span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     </button>
                     <a class="navbar-brand" href="/seller" >Incart</a>
                  </div>
                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                     <ul class="nav navbar-nav menu">
                        <li>
                           <a href="#">Заказы</a>
                        </li>
                        <li>
                           <a href="#">Доставка</a>
                        </li>
                        <li>
                           <a href="/seller/products">Товары</a>
                        </li>
                     </ul>
                     <ul class="nav navbar-right navbar-nav menu">
                        <li><a href="#">Профиль</a></li>
                        <li><a href="/seller/logout/">Выход ({{username}})</a></li>
                     </ul>
                  </div>
                  <!-- /.navbar-collapse -->
               </div>
               <!-- /.container-fluid -->
            </div>
         </nav>
         <div class="container" id="content">
            <div class="container-inner">
               <div>
                    <form class="form-signin" action="/seller/products/edit/{{product.link}}/" method="POST" enctype="multipart/form-data">
                          {% csrf_token %}

                            <h2 class="form-signin-heading">Добавить товар</h2>
                                <label for="title" class="sr-only">Название</label>
                                <input type="text" id="title" name="title" class="form-control" value="{{product.title}}" required>
                                <label for="description" class="sr-only">Описание</label>
                                <textarea id="description" name="description" class="form-control" required>{{product.description}}</textarea>
                                <label for="price" class="sr-only">Цена (руб.)</label>
                                <input type="text" id="price" name="price" class="form-control" value="{{product.price}}" required>
                                <label for="link" class="sr-only">Ссылка</label>
                                <input type="text" id="link" name="link" class="form-control" value="{{product.link}}" readonly>
                                <input type="text" id="development" name="development" class="form-control" value="{{product.development}}" required>
                                <label for="development" class="sr-only">Дней на разработку</label>


                                <div class="fileinput fileinput-exists" data-provides="fileinput">
                                  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;">
                                  <!-- add the following line -->
                                  <img src="{{product.image.url}}">
                                  </div>
                                  <div>
                                    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image-file" id="image-file"></span>
                                    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                  </div>
                                </div>


                                <button class="btn btn-lg btn-primary btn-block" type="submit">Обновить</button>

                  </form>

               </div>
            </div>
            <footer>
               <div class="container">
                  <ul class="list-inline">
                     <li>&copy; All rights reserved. 2017</li>
                  </ul>
               </div>
            </footer>
         </div>
      </div>
      <div class="loading-overlay" data-loading></div>
      <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
   </body>
</html>