{% extends "seller/auth/base_seller_auth.html" %}
{% block content %}

    <form class="register-form" action="/seller/register/" method="POST">
              {% csrf_token %}
      <input type="text" id="username" name="username" placeholder="Имя"/>
      <input type="password" id="password" name="password" placeholder="Пароль"/>
      <input type="email" id="email" name="email" placeholder="Email адрес"/>
       {% if register_error %}
          <div style="color:red">
            {{register_error}}
        </div>
        {% endif %}
      <button type="submit">Создать</button>
      <p class="message">Уже зарегистрированы? <a href="/seller/login/">Войти</a></p>
    </form>

{% endblock %}

