{% extends "seller/auth/base_seller_auth.html" %}

{% block content %}
    <form class="login-form" action="/seller/login/" method="POST">
              {% csrf_token %}
      <input type="text" id="username" name="username" placeholder="Ваше имя"/>
      <input type="password" id="password" name="password" placeholder="Введите пароль"/>
        {% if register_error %}
          <div style="color:red">
            {{register_error}}
        </div>
        {% endif %}
      <button type="submit">Войти</button>
      <p class="message">Не зарегистрированы? <a href="/seller/register/">Создать аккаунт</a></p>
    </form>

{% endblock %}
