.product
  text-align: left
  margin-bottom: 3vh

  &-meta
    margin-bottom: 3vh
    font-weight: 400
    a
      display: inline-block
      font-weight: bold
      color: #fff
      text-decoration: none

  &-content
    display: flex
    align-items: flex-start
    padding-bottom: 3vh

  &-image
    flex-shrink: 0
    display: flex
    align-items: center
    justify-content: center
    padding: 4px
    margin-right: 10px
    border-radius: 3px
    background-color: #fff
    border: solid 1px #dbe3eb

  &-title
    margin-bottom: 2px

  &-text
    font-size: 12px
    line-height: 16px
    color: rgba(255, 255, 255, .6)
    font-weight: 400
    margin-bottom: 2px

  &-additional
    font-size: 12px
    line-height: 14px
    font-weight: 400

    span
      font-weight: 500

  &-price
    display: flex
    justify-content: space-between
    align-items: center
    height: 9.5vh
    border-top: 1px solid rgba(#dbe3eb, .3)

    &-left
      font-weight: 400

    &-right
      font-size: 18px
      font-weight: bold
