{% extends "seller/space/base_seller_space.html" %}


{% block content %}
<form class="form-signin" action="/seller/products/add/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <h2 class="form-signin-heading">Добавить товар</h2>
    <label for="title" class="sr-only">Название</label>
    <input type="text" id="title" name="title" class="form-control" placeholder="Название товара" required>
    <label for="description" class="sr-only">Описание</label>
    <textarea id="description" name="description" class="form-control" placeholder="Описание товара" required></textarea>
    <label for="price" class="sr-only">Цена (руб.)</label>
    <input type="text" id="price" name="price" class="form-control" placeholder="100" required>
    <label for="link" class="sr-only">Ссылка</label>
    <input type="text" id="link" name="link" class="form-control" value="{{link}}" readonly>

    <div class="fileinput fileinput-new" data-provides="fileinput">
      <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
      <div>
        <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image-file" id="image-file"></span>
        <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
      </div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Создать</button>

</form>

{% endblock %}
